* {
    background-color: black;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#game {
    width: 100%;
    height: 100%;
    position: relative;
}

#canvas {
    width: 100%;
    height: 100%;
    background-color: black;
}

#score {
    font-family: 'Super Mario 256', sans-serif;
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    z-index: 1; /* Ensure score appears above canvas */
}

.bg-black {
    background-color: black;
}

#startMenu {
    font-family: 'Super Mario 256', sans-serif;
    color: white;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    gap: 20px;
    flex-direction: column; /* Display items vertically */
    justify-content: center;
}

#dieMenu {
    font-family: 'Super Mario 256', sans-serif;
    color: white;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    gap: 20px;
    flex-direction: column; /* Display items vertically */
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 20px 30px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Super Mario 256', sans-serif;
    color: white;
    background-color: black;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}